* {
  font-size: 16px;
}

html {
  width: 50%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.low-usage {
  color: green;
}

.high-usage {
  color: red;
}

body {
  margin: 100px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: [col] 200px [col] 200px;
  grid-template-rows: [row] auto [row] auto [row] auto;
  text-align: center;
}

header {
  grid-column: col / span 2;
  grid-row: row;
  border-radius: 10px 10px 0 0;
}

.enter-city-container {
  margin: 5px 0;
}

.temperature-controls {
  grid-column: col / span 1;
  grid-row: row 2;
}

#temperature, .weather-city-container, span, p {
  color: white;
}

.energy-mode-controls {
  grid-column: col 2 / span 1;
  grid-row: row 2;
}

footer {
  grid-column: col / span 2;
  grid-row: row 3;
  border-radius: 0 0 10px 10px;
}

#weather-city {
  margin-top: 20px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 20px
}

.box {
  background-color: rgb(105, 125, 150);
}

button {
  background-color: rgb(105, 125, 150);
  border-color: rgb(105, 125, 150);
  color: white;
}

#city-name {
  border-color: rgb(105, 125, 150);
  border-radius: 5px;
  border-style: none;
}

#temperature-up {
  border: 3px solid red;
  border-color: transparent transparent white transparent;
  width: 30px;
  height: 30px;
  border-width: 0 15px 30px 15px;
  padding: 0;
}

#temperature-down {
  border: 3px solid red;
  border-color: white transparent transparent transparent;
  width: 30px;
  height: 30px;
  border-width: 30px 15px 0 15px;
  padding: 0;
  padding-bottom: 15px;
}
